<section
      data-scroll-section
      id="home"
      #hero
      class="hero-section"
    >
      <div class="main-container">
        <div
          data-scroll
          data-scroll-speed="0.1"
          class="left-column"
        >
          <img
            src="../../../assets/images/daniel.png"
            alt="Daniel IA face"
          />
        </div>
        <div class="right-column">
          <div
            data-scroll
            data-scroll-speed="0.2"
            class="text-container"
          >
            <span>Fullstack Web Developer</span>
          </div>
        </div>
      </div>
     <app-slider-text></app-slider-text>
    </section>  